---
layout: page
title: "About"
description: "Hey, this is Vicome."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange="onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese</option>
    <option value="1"> 英语 English</option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        结局已经到来，
        然而没有一种结局是注定的。
    </blockquote>
    我听见回声 来自山谷和心间 <br>
    以寂寞的镰刀收割空旷的灵魂<br>
    不断地重复决绝 又重复幸福<br>
    终有绿洲摇曳在沙漠<br>
    我相信自己<br>
    生来如同璀璨的夏日之花<br>
    不凋不败 妖冶如火<br>
    承受心跳的负荷和呼吸的累赘<br>
    乐此不彼

    <p style="text-align:right;">
        —— <a href="http://note.youdao.com/noteshare?id=5991ad38e35aedb5b583ee2297fc3c2c&sub=50797FEDBB5E4EBC8225364C09DB66E1">《烧毁记忆》 泰戈尔</a>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        The end is always right there in the beginning.
    </blockquote>

    <p>
        After the night I burned all memory,
        my dream becomes transparent,
        as I trashed all yesterdays,
        my step becomes lighter.
    </p>

    <p>
        There are big days and there are small days.
    </p>

    <p style="text-align:right;">
        -- Vicome Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");

    function onLanChange(index) {
        if (index == 0) {
            $zh.style.display = "block";
            $en.style.display = "none";
        } else {
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }

    onLanChange(0);
</script>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
         {% if site.duoshuo_username=="huxblog" %}
         data-thread-id="1187623191091085319"
         {% else %}
         data-thread-key="{{site.duoshuo_username}}/about"
         {% endif %}

         data-title="{{page.title}}"
         data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"/>

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user};
    (function () {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
